<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <h3>Student Name: </h3>
    <input type="text" ng-model="search">
    <ul>
        <li ng-repeat="x in list | filter:search">{{x}}</li>
    </ul>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function($scope) {
            $scope.list = ["Nguyen Van A", "Tran Thi B", "Dinh Bo Linh", "Hoang Phap"]
            
        })
    </script>
</body>
</html>